[submodule "packages/core/forge/lib/openzeppelin-contracts-upgradeable"]
	path = packages/core/forge/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
[submodule "packages/core/forge/lib/solidity-lib"]
	path = packages/core/forge/lib/solidity-lib
	url = https://github.com/uniswap/solidity-lib
[submodule "packages/core/forge/lib/tranche"]
	path = packages/core/forge/lib/tranche
	url = https://github.com/buttonwood-protocol/tranche
[submodule "packages/core/forge/lib/solmate"]
	path = packages/core/forge/lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "packages/core/forge/lib/v3-periphery"]
	path = packages/core/forge/lib/v3-periphery
	url = https://github.com/uniswap/v3-periphery
[submodule "packages/core/forge/lib/v2-periphery"]
	path = packages/core/forge/lib/v2-periphery
	url = https://github.com/uniswap/v2-periphery
[submodule "packages/core/forge/lib/v3-core"]
	path = packages/core/forge/lib/v3-core
	url = https://github.com/uniswap/v3-core
[submodule "packages/core/forge/lib/button-wrappers"]
	path = packages/core/forge/lib/button-wrappers
	url = https://github.com/buttonwood-protocol/button-wrappers
[submodule "packages/core/forge/lib/openzeppelin-contracts"]
	path = packages/core/forge/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "packages/core/forge/lib/narya-contracts"]
	path = packages/core/forge/lib/narya-contracts
	url = https://github.com/naryaai/narya-contracts
